#counter-set-field {
  width: 3em;
}

.content {
  width: 500px;
  text-align: center;
  background-color: lightgray;
  border-radius: 3px;
  margin: 0 auto;
  padding: 10px;
}
.counter-wrapper: {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.counter-box {
  width: 200px;
  flex: 1;
  margin: 10px;
}
